# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Build output & local machine state
.gradle/
build/
app/build/
.kotlin/
.android/
local.properties
__pycache__/
logcat_dump*.txt
